@use "../../colors" as *;
.heading-container {
	margin-top: 3em;
	.heading-box {
		display: flex;
		align-items: center;
		gap: 1em;

		.line {
			width: 20px;
			height: 4px;
			background-color: $yellow;
			border-radius: 4px;
		}
		.heading {
			font-size: 1.4rem;
			font-weight: bold;
			color: $black;
		}
	}
	.underline {
		margin: 1em 0;
		height: 1px;
		width: 100%;
		background-color: #7777776c;
	}
}

@media screen and (min-width: 768px) {
	.heading-container {
		.heading-box {
			.heading {
				font-size: 2rem;
			}
		}
	}
}
@media screen and (min-width: 1024px) {
	.heading-container {
		.heading-box {
			.heading {
				font-size: 2.6rem;
			}
		}
	}
}
@media screen and (min-width: 1100px) {
	.heading-container {
		.heading-box {
			.line {
				width: 40px;
				height: 6px;
			}
		}
	}
}
@media screen and (min-width: 1100px) {
	.heading-container {
		.underline {
			margin-top: 2em;
		}
	}
}
