@use "../../../colors" as *;

.product-item {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 0.5em;
	background-color: $white;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	cursor: pointer;
	transition: all 0.3s ease;
	.product-heart {
		position: absolute;
		top: 2%;
		right: 2%;
		font-size: 1.6rem;
		z-index: 100;
		border-radius: 100%;
		transition: all 0.3s ease;
		&:hover {
			background-color: $yellow;
		}
	}
	.active-product-heart {
		background-color: $yellow;
	}
	.product-bestseller {
		position: absolute;
		top: 2%;
		left: 2%;
		font-size: 0.7rem;
		padding: 0.2em 0.4em;
		border-radius: 4px;
		font-weight: 600;
		background-color: #e52727;
		color: $white;
		z-index: 100;
	}
	.img-container {
		display: flex;

		.product-img {
			margin: 0 auto;
			width: 80%;
			transition: all 0.3s ease;
		}
	}
	.product-text-box {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 2em;
		margin-bottom: 1em;
		height: 100%;

		.product-category {
			color: #777;
			font-size: 1.1rem;
		}
		.product-name {
			padding: 0.5em 0;
			font-size: 1.3rem;
		}
		.product-price {
			font-size: 1.3rem;
			font-weight: bold;
		}
		.product-sale-price-box {
			display: flex;
			gap: 0.5em;
			.product-price:nth-child(1) {
				color: $gray-text;
				text-decoration: line-through;
			}
		}
	}
	.product-btn {
		padding: 0.7em 0.5em;
		background: none;
		border: 2px solid $yellow;
		border-radius: 4px;
		transition: all 0.3s ease;
		cursor: pointer;
		&:hover {
			background-color: $yellow;
		}
	}
	&:hover {
		.product-img {
			scale: 1.1;
		}
	}
}
.vertical {
	flex-direction: column;
	width: 48%;
}
.horizontal {
	width: 100%;
	align-items: flex-end;
	gap: 1em;
	.img-container {
		width: 100px;
		.product-img {
			width: 100%;
		}
	}
	.product-text-box {
		margin: 0.5em 0;
		.product-name {
			padding: 0;
		}
	}
	.product-btn {
		width: 40%;
		font-size: 1rem;
	}
}

@media screen and (min-width: 400px) {
	.horizontal {
		.product-btn {
			width: 30%;
		}
	}
}

@media screen and (min-width: 768px) {
	.product-item {
		padding: 1em;
		width: 32%;
		.product-heart {
			font-size: 2rem;
		}
		.product-bestseller {
			font-size: 1rem;
		}
		.product-text-box {
			.product-category {
				font-size: 1.4rem;
			}
			.product-name {
				font-size: 1.5rem;
			}
		}
		.product-btn {
			font-size: 1.4rem;
		}
	}
	.horizontal {
		width: 49%;

		.product-text-box {
			.product-name {
				font-size: 1.3rem;
			}
		}
		.product-btn {
			width: 35%;
			font-size: 1.1rem;
		}
	}
}

@media screen and (min-width: 1024px) {
	.product-item {
		.product-text-box {
			.product-category {
				font-size: 1.2rem;
			}
			.product-name {
				font-size: 1.4rem;
			}
		}
	}
	.horizontal {
		.product-btn {
			width: 20%;
		}
	}
}

@media screen and (min-width: 1100px) {
	.horizontal {
		.product-btn {
			width: 30%;
		}
	}
}

@media screen and (min-width: 1200px) {
	.product-item {
		width: 23%;
		.product-heart {
			font-size: 2.2rem;
		}
	}

	.horizontal {
		width: 48%;
		.product-btn {
			width: 35%;
		}
	}
}
@media screen and (min-width: 1400px) {
	.product-item {
		.product-heart {
			font-size: 2.2rem;
		}
	}
	.horizontal {
		.product-btn {
			width: 25%;
		}
	}
}

@media screen and (min-width: 1920px) {
	.product-item {
		padding: 2em;
		width: 24%;
		.product-heart {
			font-size: 2.6rem;
		}
		.product-bestseller {
			font-size: 1.2rem;
		}
		.product-text-box {
			.product-category {
				font-size: 1.4rem;
			}
			.product-name {
				font-size: 1.6rem;
			}
			.product-price {
				font-size: 1.8rem;
			}
		}
		.product-btn {
			font-size: 1.6rem;
		}
	}
	.horizontal {
		width: 49%;
		.product-btn {
			font-size: 1.4rem;
		}
	}
}
