$yellow: #ffc915;
$black: #1c1b1b;
$white: #fff;
$gray: #f5f5f7;
$dark-gray: #f1f1f1;
$gray-text: #aaaaaa;
$creamy: #eeeadf;
$pink: #eedbdd;
$light-purple: #e8e5ee;
$light-blue: #eff6fe;
$light-yellow: #f7f6b6;
